.block-wrapper {
  position: relative;
  margin: 40px 0;
  .block-actions {
    position: absolute;
    left: -160px;
    z-index: 2;
    min-width: 120px;
    border-radius: 5px;
    height: 30px;
    color: white;
    display: grid;
    place-items: center;
  }
}
