.book-section {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px 0;
  &_body {
    width: 100%;
    max-width: 1000px;
    padding: 50px;
  }
  &_help-toggle {
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    background-color: #b5bbff;
    color: white;
    place-self: end;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 5px;
  }
}